In [ ]:
#Q1. Create one variable containing following type of data:

In [ ]:
#(i) string
a = "Hello World "

In [ ]:
#(ii) list
b = ["banana","mango","papaya",546,87]

In [ ]:
#(iii) float
f = 54.97

In [ ]:
#(iv) tuple
t = ("mango","papaya",98,34)

In [ ]:
#Q2. Given are some following variables containing data:

In [3]:
#(i) var1 = ‘ ‘
var1 = ' '
type(var1)

str

In [8]:
#(ii) var2 = ‘[ DS , ML , Python]’
var2 = '[ DS , ML , Python]'
type(var2)

str

In [10]:
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
var3 = [ 'D' , 'ML' , 'Python' ]
type(var3)

list

In [1]:
#(iv) var4 = 1
var4 = 1
type(var4)

int

In [ ]:
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [13]:
a=int(input("Enter a first number"))
b=int(input("Enter a second number"))

c=a/b
print(c)

Enter a first number 4
Enter a second number 2

2.0

In [14]:
a=int(input("Enter a first number"))
b=int(input("Enter a second number"))

c=a%b
print(c)

Enter a first number 5
Enter a second number 3

2

In [15]:
a=int(input("Enter a first number"))
b=int(input("Enter a second number"))

c=a//b
print(c)

Enter a first number 6
Enter a second number 2

3

In [17]:
a=int(input("Enter a first number"))
b=int(input("Enter a second number"))

c=a**b
print(c)

Enter a first number 2
Enter a second number 5

32

In [19]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.

l = ["banana", 654, "school", 345, "pen", "ram","harry",23.54, "python","Happy"]
for a in l:
    print(a)

banana
654
school
345
pen
ram
harry
23.54
python
Happy

In [3]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.

A = int(input("Enter a number : "))
B = int(input("Eneter divider number : ")) 
count = 0

while(A%B==0):
    A = A / B
    count += 1

if count > 0:
    print(f"{A} Divisible by {B} and can be divided {count} times : ")
else:
    print("Not divisible ")

Enter a number :  20
Eneter divider number :  5

4.0 Divisible by 5 and can be divided 1 times :

In [5]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.

num = [2,4,3,6,8,9,34,56,87,65,32,98,67,23,91,83,57,64,67,35,89,68,54,48,36]

for n in num:
    if n % 3 == 0:
        print(f"{n} is divisible by 3. ")
    else:
        print(f"{n} is not divisible by 3. ")

2 is not divisible by 3.
4 is not divisible by 3.
3 is divisible by 3.
6 is divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
34 is not divisible by 3.
56 is not divisible by 3.
87 is divisible by 3.
65 is not divisible by 3.
32 is not divisible by 3.
98 is not divisible by 3.
67 is not divisible by 3.
23 is not divisible by 3.
91 is not divisible by 3.
83 is not divisible by 3.
57 is divisible by 3.
64 is not divisible by 3.
67 is not divisible by 3.
35 is not divisible by 3.
89 is not divisible by 3.
68 is not divisible by 3.
54 is divisible by 3.
48 is divisible by 3.
36 is divisible by 3.

In [7]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
#this property.


a = "Hell0"
b = a

a += "World"

print(a)
print(b)

Hell0World
Hell0

In [8]:
list1 = [1,2,3,4]
list2 = list1

list1.append(5)
print(list1)
print(list2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]